<div class="sidebar">
    <div class="logo">

    </div>
    <div class="sidebar-main pt-5">
        <ul class="nav flex-colunm">
            <li class="nav-item mt-5" routerLinkActive="active">
                <a class="nav-link" href="javascript:void(0)" routerLink="">
                    <mat-icon>home</mat-icon> Home
                </a>
            </li>
            <br>
            <li class="nav-item mt-5" routerLinkActive="active">
                <a class="nav-link" href="javascript:void(0)" routerLink="/dashboard">
                    <mat-icon>work</mat-icon> Project
                </a>
            </li>
            <br>
            <li class="nav-item mt-4" routerLinkActive="active">
                <a class="nav-link" href="javascript:void(0)" routerLink="/message">
                    <mat-icon>message</mat-icon> message
                </a>
            </li>
            <br>
            <li class="nav-item mt-4" routerLinkActive="active">
                <a class="nav-link" href="javascript:void(0)" routerLink="/profil">
                    <mat-icon>perm_contact_calendar</mat-icon> Profil
                </a>
            </li>
        </ul>
    </div>
</div>
