div.sidebar-main {
    min-height: calc(100vh - 60px);
    height: 100%;
    background-color: darksalmon;
}

div.sidebar-main li.active {
    border-left: 6px solid #81BAD8;
    background-color: darksalmon;
}

div.sidebar-main a {
    padding-top: 5px;
    color: 81BAD8;
    font-family: monospace;
    font-weight: bold;
    font-size: 2rem;
}
