<!--div [style.background-image]="'url(./images/' + laptop-g8928c4b34_1280.img + ')'"></div-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <nav class="nav justify-content-center">
                <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4 corp">
                    <mat-tab label="Login">
                        <div class="container p-3" id="bloc1">

                            <form class="example-form" [formGroup]="loginForm" (ngSubmit)="submit()">
                                <div class="head">
                                    <br>
                                    <h3 class="h3">Who are you?</h3>
                                    <mat-radio-group aria-label="Select an option" id="option1">
                                        <mat-radio-button value="1">A project leader</mat-radio-button>
                                        <mat-radio-button value="2">An investor</mat-radio-button>
                                    </mat-radio-group>
                                    <br>
                                    <br>
                                </div>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Email</mat-label>
                                    <span matPrefix><mat-icon>email</mat-icon> &nbsp;</span>
                                    <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                        Please enter a valid email address
                                    </mat-error>
                                    <mat-error *ngIf="emailFormControl.hasError('required')">
                                        Email is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Enter your password</mat-label>
                                    <span matPrefix><mat-icon>lock</mat-icon> &nbsp;</span>
                                    <input matInput [type]="hide ? 'password' : 'text'" required>
                                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                  </button>
                                </mat-form-field>
                                <button class="btn btn-lg btn-info custom justify-content-center" routerLink="/mainlayout">Connexion</button>
                            </form>
                        </div>
                    </mat-tab>
                    <mat-tab label="Register">
                        <div class="container" id="bloc2">
                            <form class="form-inline">
                                <div class="head">
                                    <br>
                                    <h3 class="h2">Who are you?</h3>
                                    <mat-radio-group aria-label="Select an option" id="option2">
                                        <mat-radio-button value="1">A project leader</mat-radio-button>
                                        <mat-radio-button value="2">An investor</mat-radio-button>
                                    </mat-radio-group>
                                    <br>
                                    <br>
                                    <h3 class="h2">What is your legal personality?</h3>
                                    <mat-radio-group aria-label="Select an option" id="option2">
                                        <mat-radio-button value="1">Natural person(individual)</mat-radio-button>
                                        <mat-radio-button value="2">Legal person (compagny)</mat-radio-button>
                                    </mat-radio-group>
                                    <br>
                                    <br>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <mat-form-field class="nameregister" appearance="fill">
                                            <mat-label>Name</mat-label>
                                            <span matPrefix><mat-icon>perm_identity</mat-icon> &nbsp;</span>
                                            <input matInput required>
                                        </mat-form-field>
                                        <br>
                                        <br>
                                        <mat-form-field class="emailregister" appearance="fill">
                                            <mat-label>Email</mat-label>
                                            <span matPrefix><mat-icon>email</mat-icon> &nbsp;</span>
                                            <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                                            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                                Please enter a valid email address
                                            </mat-error>
                                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                                Email is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-6">
                                        <mat-form-field class="firstnameregister" appearance="fill">
                                            <mat-label>First-Name</mat-label>
                                            <span matPrefix><mat-icon>perm_identity</mat-icon> &nbsp;</span>
                                            <input matInput required>
                                        </mat-form-field>
                                        <br>
                                        <br>
                                        <mat-form-field class="nameregister" appearance="fill">
                                            <mat-label>Phone Number</mat-label>
                                            <span matPrefix><mat-icon>phone</mat-icon> &nbsp;</span>
                                            <input matInput required>
                                            <mat-icon matSuffix>mode_edit</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <mat-form-field class="passwordregister" appearance="fill">
                                        <mat-label>Enter your password</mat-label>
                                        <span matPrefix><mat-icon>lock</mat-icon> &nbsp;</span>
                                        <input matInput [type]="hide ? 'password' : 'text'" required>
                                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    </mat-form-field>
                                    <br>
                                    <button class="btn btn-lg btn-info custom2 justify-content-center">Connexion</button>
                                </div>
                            </form>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </nav>

        </div>
        <div class="col-md-2"></div>
    </div>
</div>
